node-red/flow.json
[{
    "id": "cc4088f3.bdb608",
    "type": "tab",
    "label": "流程1",
    "disabled": false,
    "info": ""
}, {
    "id": "acc92a0a.23a778",
    "type": "tab",
    "label": "流程2",
    "disabled": false,
    "info": ""
}, {
    "id": "c5a10f82.8253d",
    "type": "tab",
    "label": "Blockchain",
    "disabled": true,
    "info": ""
}, {
    "id": "2f05d8bf.55f3b8",
    "type": "tab",
    "label": "Dashboard",
    "disabled": true,
    "info": ""
}, {
    "id": "5eb782fc.54622c",
    "type": "tab",
    "label": "Gauge Simulator",
    "disabled": true,
    "info": ""
}, {
    "id": "3fc96898.a52fb8",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
}, {
    "id": "6898c31f.df1fac",
    "type": "ui_group",
    "z": "",
    "name": "Trade",
    "tab": "3fc96898.a52fb8",
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "6484b668.45e7f8",
    "type": "ui_base",
    "theme": {
        "name": "theme-light",
        "lightTheme": {
            "default": "#0094CE",
            "baseColor": "#0094CE",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited": true,
            "reset": false
        },
        "darkTheme": {
            "default": "#097479",
            "baseColor": "#097479",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited": false
        },
        "customTheme": {
            "name": "Untitled Theme 1",
            "default": "#4B7930",
            "baseColor": "#4B7930",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        },
        "themeState": {
            "base-color": {
                "default": "#0094CE",
                "value": "#0094CE",
                "edited": false
            },
            "page-titlebar-backgroundColor": {
                "value": "#0094CE",
                "edited": false
            },
            "page-backgroundColor": {
                "value": "#fafafa",
                "edited": false
            },
            "page-sidebar-backgroundColor": {
                "value": "#ffffff",
                "edited": false
            },
            "group-textColor": {
                "value": "#1bbfff",
                "edited": false
            },
            "group-borderColor": {
                "value": "#ffffff",
                "edited": false
            },
            "group-backgroundColor": {
                "value": "#ffffff",
                "edited": false
            },
            "widget-textColor": {
                "value": "#111111",
                "edited": false
            },
            "widget-backgroundColor": {
                "value": "#0094ce",
                "edited": false
            },
            "widget-borderColor": {
                "value": "#ffffff",
                "edited": false
            },
            "base-font": {
                "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
        },
        "angularTheme": {
            "primary": "indigo",
            "accents": "blue",
            "warn": "red",
            "background": "grey"
        }
    },
    "site": {
        "name": "Node-RED Dashboard",
        "hideToolbar": "false",
        "allowSwipe": "false",
        "lockMenu": "false",
        "allowTempTheme": "true",
        "dateFormat": "DD/MM/YYYY",
        "sizes": {
            "sx": 48,
            "sy": 48,
            "gx": 6,
            "gy": 6,
            "cx": 6,
            "cy": 6,
            "px": 0,
            "py": 0
        }
    }
}, {
    "id": "10f7d43a.c656cc",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d47ee9bf.218b48",
    "order": 1,
    "width": 1,
    "height": 1
}, {
    "id": "fe622b14.2484b8",
    "type": "ui_group",
    "z": "",
    "name": "Preparation",
    "tab": "3fc96898.a52fb8",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "7654cf32.0c3a",
    "type": "ui_group",
    "z": "",
    "name": "Count",
    "tab": "3fc96898.a52fb8",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "3b519d7e.9f2042",
    "type": "ui_group",
    "z": "",
    "name": "Gauge",
    "tab": "3fc96898.a52fb8",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "f1d55dc.76a13a",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "cf9737d8.fac278",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "dd8308c4.09e5e8",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "534bf193.5d6d2",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "c5fd6096.a5c",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "6e566ff2.5314c",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "a661961b.ef37c8",
    "type": "ui_group",
    "z": "",
    "name": "SenseHat",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "d3476037.0eb47",
    "type": "ui_group",
    "z": "",
    "name": "Outside Temperatures",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
}, {
    "id": "4d7e518a.402b5",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "58ae95c8.5e785c",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "d4dccdbf.0a85c",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "47ad426.48bdebc",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "d77af40f.e19088",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "6def697e.705258",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "d148c0d7.e8b92",
    "type": "ui_group",
    "z": "",
    "name": "SenseHat",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "e5c33cb2.e3d3b",
    "type": "ui_group",
    "z": "",
    "name": "Outside Temperatures",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
}, {
    "id": "2f181396.0bc80c",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "825f61f1.23cdf",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "d1c2c1f0.74385",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "1c0f3d58.54a0f3",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "2ef989c7.392d76",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "afe5ef3a.769fc",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "c7501c8c.d1258",
    "type": "ui_group",
    "z": "",
    "name": "SenseHat",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "f8eecb20.bd2b28",
    "type": "ui_group",
    "z": "",
    "name": "Outside Temperatures",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
}, {
    "id": "841bade7.8c40a",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "b84216c1.d11f08",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "5c9d67e3.e8af28",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "b84216c1.d11f08",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "b84216c1.d11f08",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "order": 2
}, {
    "id": "3cbfcfb1.84d9d",
    "type": "ui_base",
    "theme": {
        "name": "theme-light",
        "lightTheme": {
            "default": "#0094CE",
            "baseColor": "#0094CE",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited": true,
            "reset": false
        },
        "darkTheme": {
            "default": "#097479",
            "baseColor": "#097479",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
            "edited": false
        },
        "customTheme": {
            "name": "Untitled Theme 1",
            "default": "#4B7930",
            "baseColor": "#4B7930",
            "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        },
        "themeState": {
            "base-color": {
                "default": "#0094CE",
                "value": "#0094CE",
                "edited": false
            },
            "page-titlebar-backgroundColor": {
                "value": "#0094CE",
                "edited": false
            },
            "page-backgroundColor": {
                "value": "#fafafa",
                "edited": false
            },
            "page-sidebar-backgroundColor": {
                "value": "#ffffff",
                "edited": false
            },
            "group-textColor": {
                "value": "#1bbfff",
                "edited": false
            },
            "group-borderColor": {
                "value": "#ffffff",
                "edited": false
            },
            "group-backgroundColor": {
                "value": "#ffffff",
                "edited": false
            },
            "widget-textColor": {
                "value": "#111111",
                "edited": false
            },
            "widget-backgroundColor": {
                "value": "#0094ce",
                "edited": false
            },
            "widget-borderColor": {
                "value": "#ffffff",
                "edited": false
            },
            "base-font": {
                "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
        }
    },
    "site": {
        "name": "Thermostat Control Board",
        "hideToolbar": "false",
        "allowSwipe": "false",
        "dateFormat": "DD/MM/YYYY",
        "sizes": {
            "sx": 40,
            "sy": 46,
            "gx": 6,
            "gy": 6,
            "cx": 6,
            "cy": 6,
            "px": 0,
            "py": 0
        }
    }
}, {
    "id": "cbefde9e.589b5",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "67597520.aae5ac",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 4,
    "disp": true,
    "width": "6"
}, {
    "id": "9661f676.17b518",
    "type": "ui_group",
    "z": "",
    "name": "Blockchain",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "e5fe6a29.a72518",
    "type": "ui_group",
    "z": "",
    "name": "Thermostat",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
}, {
    "id": "73fd5801.51fdf8",
    "type": "ui_group",
    "z": "",
    "name": "SenseHat",
    "tab": "b84216c1.d11f08",
    "order": 1,
    "disp": true,
    "width": "6"
}, {
    "id": "3aa7b35a.0eed1c",
    "type": "ui_group",
    "z": "",
    "name": "Outside Temperatures",
    "tab": "b84216c1.d11f08",
    "order": 3,
    "disp": true,
    "width": "6"
}, {
    "id": "9478503.d902bb",
    "type": "ui_text_input",
    "z": "cc4088f3.bdb608",
    "name": "",
    "label": "Person",
    "tooltip": "",
    "group": "fe622b14.2484b8",
    "order": 4,
    "width": "0",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 120,
    "y": 120,
    "wires": [
        ["cf5030aa.9fb8b"]
    ]
}, {
    "id": "c651c972.bf27c8",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "Set Cargo",
    "func": "n = msg.payload;\nglobal.set('CargoName',n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 40,
    "wires": [
        []
    ]
}, {
    "id": "145d79b7.824776",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "fe622b14.2484b8",
    "order": 3,
    "width": "0",
    "height": "0",
    "passthru": false,
    "label": "AddCargo",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 200,
    "wires": [
        ["fe894b09.a34358"]
    ]
}, {
    "id": "fe894b09.a34358",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "getcargoname",
    "func": "n = global.get('CargoName');\nn2 = global.get('CargoName2');\npid=global.get('PersonName');\nPersonName = \"resource:org.logistics.Person#\"+pid;\nmsg.payload={\n  \"$class\": \"org.logistics.Cargo\",\n  \"CargoId\":n,\n  \"CargoName\": n2,\n  \"IsOnSell\": \"false\",\n  \"CargoCondition\": \"normal\",\n  \"owner\": PersonName\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 200,
    "wires": [
        ["64eeb2fd.1718ac"]
    ]
}, {
    "id": "64eeb2fd.1718ac",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "setcargoname",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.Cargo",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 540,
    "y": 200,
    "wires": [
        ["d353d803.3a1378"]
    ]
}, {
    "id": "cf5030aa.9fb8b",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "Set Person",
    "func": "n = msg.payload;\nglobal.set('PersonName',n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 120,
    "wires": [
        []
    ]
}, {
    "id": "c99738c4.8a47b8",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "fe622b14.2484b8",
    "order": 6,
    "width": "0",
    "height": "0",
    "passthru": false,
    "label": "AddPerson",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 130,
    "y": 260,
    "wires": [
        ["6b2a88dc.6fdd38"]
    ]
}, {
    "id": "6b2a88dc.6fdd38",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "getpersonname",
    "func": "n = global.get('PersonName');\nn2 = global.get('PersonName2');\nmsg.payload = {\n  \"$class\": \"org.logistics.Person\",\n  \"PersonId\": n,\n  \"PersonName\": n2\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 260,
    "wires": [
        ["b9ff8a36.cad748"]
    ]
}, {
    "id": "b9ff8a36.cad748",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "setpersonname",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.Person",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 560,
    "y": 260,
    "wires": [
        ["9e4cbada.f77f18"]
    ]
}, {
    "id": "d353d803.3a1378",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["cf21114b.4bcb2", "2566f073.03077"],
    "x": 740,
    "y": 200,
    "wires": []
}, {
    "id": "cf21114b.4bcb2",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["d353d803.3a1378", "9e4cbada.f77f18", "b5c8d748.b8b098", "8680920c.6517", "1a6d3f73.b95131", "a93b4533.ddd488", "c4c29947.908a68"],
    "x": 120,
    "y": 60,
    "wires": [
        ["6e34fda.42d4404"]
    ]
}, {
    "id": "2566f073.03077",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["d353d803.3a1378", "8680920c.6517"],
    "x": 120,
    "y": 140,
    "wires": [
        ["a523a06a.b90a5"]
    ]
}, {
    "id": "6e34fda.42d4404",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Number of block",
    "func": "if(global.get(\"blocks\") && global.get(\"blocks\")>0){\n    val = global.get(\"blocks\") + 1;\n}else{\n    val = 1;\n}\n\nglobal.set(\"blocks\",val);\nmsg.payload = val;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 60,
    "wires": [
        ["96efb16b.3d4e5"]
    ]
}, {
    "id": "96efb16b.3d4e5",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "7654cf32.0c3a",
    "order": 5,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "Counts of block",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 520,
    "y": 60,
    "wires": []
}, {
    "id": "a523a06a.b90a5",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "status",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Please rename\";\nreturn msg;\n    \n}\nif (msg.payload.CargoName){\n    msg.message = msg.payload.CargoName + \" added successfully\";\nreturn msg;\n    \n}\nif (msg.payload.PersonName){\n    msg.message = msg.payload.PersonName + \" added successfully\";\nreturn msg;\n    \n}",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 140,
    "wires": [
        ["562586cc.7cf678"]
    ]
}, {
    "id": "562586cc.7cf678",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "fe622b14.2484b8",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Status line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 480,
    "y": 140,
    "wires": []
}, {
    "id": "9e4cbada.f77f18",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["cf21114b.4bcb2", "c37c1345.c02dd", "2566f073.03077"],
    "x": 715,
    "y": 260,
    "wires": []
}, {
    "id": "df16242f.1fe228",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "fe622b14.2484b8",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "On Sale",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 320,
    "wires": [
        ["a60b897.69ad378"]
    ]
}, {
    "id": "a60b897.69ad378",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "onsale",
    "func": "pid = global.get('PersonName');\ntime = new Date().toISOString();\ncid = global.get('CargoName');\nasset = \"resource:org.logistics.Person#\"+pid,\ncname=\"resource:org.logistics.Cargo#\"+cid;\nmsg.payload = {\n  \"$class\": \"org.logistics.CargoOnSell\",\n  //\"transactionId\":global.get(\"blocks\"),\n  \"timestamp\": time,\n  \"Item\":cname,\n  \"Seller\": asset\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 290,
    "y": 320,
    "wires": [
        ["1b9f5b9e.b7bbd4"]
    ]
}, {
    "id": "1b9f5b9e.b7bbd4",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "Sale transaction",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.CargoOnSell",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 320,
    "wires": [
        ["b5c8d748.b8b098"]
    ]
}, {
    "id": "b5c8d748.b8b098",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["c42f64d5.2d4e98", "cf21114b.4bcb2"],
    "x": 655,
    "y": 320,
    "wires": []
}, {
    "id": "c42f64d5.2d4e98",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["b5c8d748.b8b098"],
    "x": 115,
    "y": 220,
    "wires": [
        ["872a73ee.14c6f"]
    ]
}, {
    "id": "872a73ee.14c6f",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "onsale status",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Error\";\nreturn msg;\n    \n}\nmsg.message=global.get(\"CargoName\") + \" is on sale\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 220,
    "wires": [
        ["ada659dd.993828"]
    ]
}, {
    "id": "ada659dd.993828",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "fe622b14.2484b8",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Onsale line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 470,
    "y": 220,
    "wires": []
}, {
    "id": "56b4b4f9.1a628c",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "6898c31f.df1fac",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Buy",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 440,
    "wires": [
        ["edac38b.cc64bc8"]
    ]
}, {
    "id": "a3780cb1.31c",
    "type": "ui_text_input",
    "z": "cc4088f3.bdb608",
    "name": "Buyer",
    "label": "Buyer",
    "tooltip": "",
    "group": "fe622b14.2484b8",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 110,
    "y": 380,
    "wires": [
        ["68cf353a.9f203c"]
    ]
}, {
    "id": "68cf353a.9f203c",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "Set Buyer",
    "func": "n = msg.payload;\nglobal.set('BuyerName',n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 380,
    "wires": [
        []
    ]
}, {
    "id": "edac38b.cc64bc8",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "buy",
    "func": "bid = global.get(\"BuyerName\");\nsid = global.get(\"PersonName\");\ncid = global.get(\"CargoName\");\ntime = new Date().toISOString();\nmsg.payload = {\n  \"$class\": \"org.logistics.BuyCargo\",\n  \"Item\": \"resource:org.logistics.Cargo#\"+cid,\n  \"Buyer\": \"resource:org.logistics.Person#\"+bid,\n  \"Seller\": \"resource:org.logistics.Person#\"+sid,\n  //\"transactionId\": \"string\",\n  \"timestamp\":time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 440,
    "wires": [
        ["8dafdbd7.e68cf8"]
    ]
}, {
    "id": "8dafdbd7.e68cf8",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "BUY",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.BuyCargo",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 410,
    "y": 440,
    "wires": [
        ["8680920c.6517"]
    ]
}, {
    "id": "8680920c.6517",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["9d55d12d.57e4b", "2566f073.03077", "cf21114b.4bcb2"],
    "x": 575,
    "y": 440,
    "wires": []
}, {
    "id": "9d55d12d.57e4b",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["8680920c.6517"],
    "x": 115,
    "y": 300,
    "wires": [
        ["650e58fe.511dc8"]
    ]
}, {
    "id": "650e58fe.511dc8",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Buy status",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Error\";\nreturn msg;\n    \n}\nmsg.message= global.get(\"CargoName\")+\"has been bought successfully\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 300,
    "wires": [
        ["92a8ccd6.53c99"]
    ]
}, {
    "id": "92a8ccd6.53c99",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "6898c31f.df1fac",
    "order": 11,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Buy line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 480,
    "y": 300,
    "wires": []
}, {
    "id": "b72d6e81.5fd54",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "6898c31f.df1fac",
    "order": 12,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Travel",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 500,
    "wires": [
        ["db684bfe.008e38"]
    ]
}, {
    "id": "db684bfe.008e38",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "travel",
    "func": "bid = global.get(\"BuyerName\");\nsid = global.get(\"PersonName\");\ncid = global.get(\"CargoName\");\ntime = new Date().toISOString();\nmsg.payload = {\n  \"$class\": \"org.logistics.Transit\",\n  \"Item\": \"resource:org.logistics.Cargo#\"+cid,\n  \"Buyer\": \"resource:org.logistics.Person#\"+bid,\n  \"Seller\": \"resource:org.logistics.Person#\"+sid,\n  //\"transactionId\": \"string\",\n  \"timestamp\":time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 500,
    "wires": [
        ["786cfa28.db6584"]
    ]
}, {
    "id": "786cfa28.db6584",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "TRAVEL",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.Transit",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 420,
    "y": 500,
    "wires": [
        ["1a6d3f73.b95131"]
    ]
}, {
    "id": "1a6d3f73.b95131",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["1a83f2f1.e9895d", "cf21114b.4bcb2"],
    "x": 575,
    "y": 500,
    "wires": []
}, {
    "id": "1a83f2f1.e9895d",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["1a6d3f73.b95131"],
    "x": 115,
    "y": 400,
    "wires": [
        ["5faa56bf.298c38"]
    ]
}, {
    "id": "5faa56bf.298c38",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Travel statue",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Error\";\nreturn msg;\n    \n}\nmsg.message=global.get(\"CargoName\")+\"is translating\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 400,
    "wires": [
        ["2cb4a2d4.0d938e"]
    ]
}, {
    "id": "2cb4a2d4.0d938e",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "6898c31f.df1fac",
    "order": 13,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Travel line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 500,
    "y": 400,
    "wires": []
}, {
    "id": "3c465c9f.74dc84",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "6898c31f.df1fac",
    "order": 14,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Arrive",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 580,
    "wires": [
        ["cbe8639.8c217a"]
    ]
}, {
    "id": "cbe8639.8c217a",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "arrive",
    "func": "bid = global.get(\"BuyerName\");\ncid = global.get(\"CargoName\");\ntime = new Date().toISOString();\nmsg.payload = {\n  \"$class\": \"org.logistics.CargoArrive\",\n  \"Item\": \"resource:org.logistics.Cargo#\"+cid,\n  \"Buyer\": \"resource:org.logistics.Person#\"+bid,\n  //\"transactionId\": \"string\",\n  \"timestamp\":time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 580,
    "wires": [
        ["8084764a.834ad8"]
    ]
}, {
    "id": "a93b4533.ddd488",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["697ae882.222318", "cf21114b.4bcb2"],
    "x": 575,
    "y": 580,
    "wires": []
}, {
    "id": "8084764a.834ad8",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "ARRIVE",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.CargoArrive",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 420,
    "y": 580,
    "wires": [
        ["a93b4533.ddd488"]
    ]
}, {
    "id": "697ae882.222318",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["a93b4533.ddd488"],
    "x": 115,
    "y": 500,
    "wires": [
        ["f5dbd438.54a048"]
    ]
}, {
    "id": "f5dbd438.54a048",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Arrive statue",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Error\";\nreturn msg;\n    \n}\nmsg.message= global.get(\"CargoName\")+\" has arrived.\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 500,
    "wires": [
        ["bc474c42.1035d"]
    ]
}, {
    "id": "bc474c42.1035d",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "6898c31f.df1fac",
    "order": 15,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Arrive line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 500,
    "y": 500,
    "wires": []
}, {
    "id": "9942b3a2.22dbc",
    "type": "ui_button",
    "z": "cc4088f3.bdb608",
    "name": "",
    "group": "6898c31f.df1fac",
    "order": 16,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Receive",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 660,
    "wires": [
        ["f1e35ba9.db8a78"]
    ]
}, {
    "id": "f1e35ba9.db8a78",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "receive",
    "func": "bid = global.get(\"BuyerName\");\ncid = global.get(\"CargoName\");\ntime = new Date().toISOString();\nmsg.payload = {\n  \"$class\": \"org.logistics.ReceiveCargo\",\n  \"Item\": \"resource:org.logistics.Cargo#\"+cid,\n  \"Buyer\": \"resource:org.logistics.Person#\"+bid,\n  //\"transactionId\": \"string\",\n  \"timestamp\":time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 660,
    "wires": [
        ["968b57fc.be8bd8"]
    ]
}, {
    "id": "968b57fc.be8bd8",
    "type": "http request",
    "z": "cc4088f3.bdb608",
    "name": "RECEIVE",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.logistics.ReceiveCargo",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 460,
    "y": 660,
    "wires": [
        ["c4c29947.908a68"]
    ]
}, {
    "id": "c4c29947.908a68",
    "type": "link out",
    "z": "cc4088f3.bdb608",
    "name": "",
    "links": ["44d9322d.dcd1cc", "cf21114b.4bcb2"],
    "x": 620,
    "y": 660,
    "wires": []
}, {
    "id": "44d9322d.dcd1cc",
    "type": "link in",
    "z": "acc92a0a.23a778",
    "name": "",
    "links": ["c4c29947.908a68"],
    "x": 120,
    "y": 580,
    "wires": [
        ["4f39239e.f658ac"]
    ]
}, {
    "id": "4f39239e.f658ac",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Receive statue",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Error\";\nreturn msg;\n    \n}\nmsg.message=global.get(\"CargoName\")+\"has received.\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 580,
    "wires": [
        ["bbd73960.b28328"]
    ]
}, {
    "id": "bbd73960.b28328",
    "type": "ui_text",
    "z": "acc92a0a.23a778",
    "group": "6898c31f.df1fac",
    "order": 17,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Receive line",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 510,
    "y": 580,
    "wires": []
}, {
    "id": "20cb0ba9.2a0b04",
    "type": "ui_text_input",
    "z": "cc4088f3.bdb608",
    "name": "",
    "label": "Cargo",
    "tooltip": "",
    "group": "fe622b14.2484b8",
    "order": 1,
    "width": "0",
    "height": "0",
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 110,
    "y": 40,
    "wires": [
        ["c651c972.bf27c8"]
    ]
}, {
    "id": "4635c01f.2e2a9",
    "type": "ui_text_input",
    "z": "cc4088f3.bdb608",
    "name": "",
    "label": "Cargo Name",
    "tooltip": "",
    "group": "fe622b14.2484b8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 130,
    "y": 80,
    "wires": [
        ["c0e9c459.31f788"]
    ]
}, {
    "id": "d4d092e1.3cc36",
    "type": "ui_text_input",
    "z": "cc4088f3.bdb608",
    "name": "",
    "label": "Person Name",
    "tooltip": "",
    "group": "fe622b14.2484b8",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 140,
    "y": 160,
    "wires": [
        ["1e7af5ce.87c04a"]
    ]
}, {
    "id": "c0e9c459.31f788",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "Set Cargo Name",
    "func": "n = msg.payload;\nglobal.set('CargoName2',n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 80,
    "wires": [
        []
    ]
}, {
    "id": "1e7af5ce.87c04a",
    "type": "function",
    "z": "cc4088f3.bdb608",
    "name": "Set Person Name",
    "func": "n = msg.payload;\nglobal.set('PersonName2',n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 160,
    "wires": [
        []
    ]
}, {
    "id": "8fa3cc97.6eea2",
    "type": "ui_gauge",
    "z": "acc92a0a.23a778",
    "name": "",
    "group": "3b519d7e.9f2042",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Statue",
    "label": "units",
    "format": "{{msg.value}}",
    "min": 0,
    "max": 10,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1030,
    "y": 760,
    "wires": []
}, {
    "id": "b282d6ba.1a72e8",
    "type": "http request",
    "z": "acc92a0a.23a778",
    "name": "Get Statue",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "localhost:3000/api/org.logistics.Cargo/{{{TargetID}}}",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 570,
    "y": 760,
    "wires": [
        ["ba9f965f.4ccac8"]
    ]
}, {
    "id": "ba9f965f.4ccac8",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Set Statue",
    "func": "n=msg.payload.CargoCondition;\nif(msg.payload.IsOnSell)\n{\n    if(n=='transit')\n        msg.value=6;\n    else if(n=='unfilled')\n        msg.value=4;\n    else if(n=='wait_for_sign')\n        msg.value=8;\n    else\n        msg.value=2;\n    return msg;\n}\nif(n=='normal')\n    msg.value=0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 810,
    "y": 760,
    "wires": [
        ["8fa3cc97.6eea2"]
    ]
}, {
    "id": "9c260946.bbbd48",
    "type": "ui_button",
    "z": "acc92a0a.23a778",
    "name": "",
    "group": "3b519d7e.9f2042",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Get Statue",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 760,
    "wires": [
        ["fb67638.45fada"]
    ]
}, {
    "id": "fb67638.45fada",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Get url",
    "func": "msg.TargetID=global.get(\"TargetCargoName\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 760,
    "wires": [
        ["b282d6ba.1a72e8"]
    ]
}, {
    "id": "23e8d0de.a60de",
    "type": "ui_text_input",
    "z": "acc92a0a.23a778",
    "name": "",
    "label": "Target Cargo",
    "tooltip": "",
    "group": "3b519d7e.9f2042",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 150,
    "y": 680,
    "wires": [
        ["3bf740e2.f172b"]
    ]
}, {
    "id": "3bf740e2.f172b",
    "type": "function",
    "z": "acc92a0a.23a778",
    "name": "Set Target Cargo ",
    "func": "n = msg.payload;\nglobal.set(\"TargetCargoName\",n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 680,
    "wires": [
        []
    ]
}, {
    "id": "2a2430c7.d3da4",
    "type": "ui_text_input",
    "z": "c5a10f82.8253d",
    "name": "",
    "label": "TeamName",
    "group": "841bade7.8c40a",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": true,
    "mode": "text",
    "delay": "500",
    "topic": "",
    "x": 710,
    "y": 80,
    "wires": [
        ["f72dee38.f61f9"]
    ]
}, {
    "id": "c17f0da4.378dd",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "Set Team Name",
    "method": "POST",
    "ret": "obj",
    "url": "http://localhost:3000/api/org.acme.sample.Sensor",
    "tls": "",
    "x": 720,
    "y": 260,
    "wires": [
        ["f975b462.70afe8"]
    ]
}, {
    "id": "f72dee38.f61f9",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "setTeamname",
    "func": "n = msg.payload;\nglobal.set('teamName',n);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 940,
    "y": 80,
    "wires": [
        []
    ]
}, {
    "id": "3debc618.34916a",
    "type": "ui_button",
    "z": "c5a10f82.8253d",
    "name": "",
    "group": "5c9d67e3.e8af28",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Change Thermostat",
    "color": "Light Blue",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 420,
    "wires": [
        ["5e5d7d29.d80354"]
    ]
}, {
    "id": "5e5d7d29.d80354",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "ChangeThermo",
    "func": "tid = global.get('teamName');\ntime = new Date().toISOString();\nthermo = global.get('TempThermostat');\nasset = \"resource:org.acme.sample.Sensor#\"+tid,\n\nmsg.payload = {\n  \"$class\": \"org.acme.sample.ChangeThermostatTemp\",\n  \"thermostat\": asset,\n  \"newThermostatValue\": thermo,\n  \"timestamp\": time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 420,
    "wires": [
        ["e3bb9700.368048"]
    ]
}, {
    "id": "e3bb9700.368048",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "Change Thermostat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.acme.sample.ChangeThermostatTemp",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 740,
    "y": 420,
    "wires": [
        ["d9c81394.fc102"]
    ]
}, {
    "id": "238e133d.adc19c",
    "type": "ui_button",
    "z": "c5a10f82.8253d",
    "name": "",
    "group": "841bade7.8c40a",
    "order": 5,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "Get Recommendation",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 580,
    "wires": [
        ["29ab97d4.133c58"]
    ]
}, {
    "id": "29ab97d4.133c58",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "getRecommendation",
    "func": "tid = global.get('teamName');\ntime = new Date().toISOString();\nweather = global.get('weather-observation');\nasset = \"resource:org.acme.sample.Sensor#\"+tid,\ntransid = global.get('lastTransID');\nmsg.payload = {\n  \"$class\": \"org.acme.sample.CompareWeather\",\n  \"transactionId\": transid,\n  \"recommend\": asset,\n  \"outsideTemp\": weather.current_observation.temp_c,\n  \"feelsLike\": weather.current_observation.feelslike_c,\n  \"timestamp\": time\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 580,
    "wires": [
        ["75949aff.eca174"]
    ]
}, {
    "id": "75949aff.eca174",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "CompareWeather",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.acme.sample.CompareWeather",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 730,
    "y": 580,
    "wires": [
        ["cb31d32e.52ae3", "716aaca4.3ccbc4"]
    ]
}, {
    "id": "cb31d32e.52ae3",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "getTeamID",
    "func": "team = global.get('teamName');\nmsg = {};\nmsg.topic = team;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 950,
    "y": 580,
    "wires": [
        ["778eeb92.e06b54"]
    ]
}, {
    "id": "778eeb92.e06b54",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://localhost:3000/api/org.acme.sample.Sensor/{{{topic}}}",
    "tls": "",
    "x": 1153,
    "y": 580,
    "wires": [
        ["4e9d759.918e68c", "4319d68a.731bb8"]
    ]
}, {
    "id": "2820c92a.173ed6",
    "type": "ui_toast",
    "z": "c5a10f82.8253d",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "topic": "",
    "name": "",
    "x": 710,
    "y": 160,
    "wires": [
        []
    ]
}, {
    "id": "c8ef1f2e.b9357",
    "type": "inject",
    "z": "c5a10f82.8253d",
    "name": "check team name",
    "topic": "Team Name is not set. Please add your team name and press the add team name button",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 170,
    "y": 120,
    "wires": [
        ["be5f2cbd.62b6a", "cb969cdc.0b9ba"]
    ]
}, {
    "id": "be5f2cbd.62b6a",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "locatedTeamName",
    "func": "team = global.get(\"teamName\");\nif (team){\n    msg.topic=\"Team Name is set\"\n    msg.payload = team;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 160,
    "wires": [
        ["2820c92a.173ed6"]
    ]
}, {
    "id": "1aa30cd9.0b6563",
    "type": "ui_button",
    "z": "c5a10f82.8253d",
    "name": "",
    "group": "841bade7.8c40a",
    "order": 2,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "Add Team Name",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 160,
    "y": 260,
    "wires": [
        ["bcde5a30.8771f8"]
    ]
}, {
    "id": "bcde5a30.8771f8",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "getTeamName",
    "func": "global.set('Thermostat', 20);\ntherm = global.get('Thermostat');\nd = global.get('SenseHat');\nn = global.get('teamName');\nmsg.payload = {\n  \"$class\": \"org.acme.sample.Sensor\",\n  \"teamID\": n,\n  \"teamName\": n,\n  \"sensorTemp\":d,\n  \"thermostatTemp\":therm,\n  \"recommendation\":\"none\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 480,
    "y": 260,
    "wires": [
        ["c17f0da4.378dd"]
    ]
}, {
    "id": "cb969cdc.0b9ba",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "Find Team Name",
    "func": "n = global.get('teamName');\nif (n){\n    msg.payload = n;\n}else{\n    msg.payload=\"Please Add Team Name\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 80,
    "wires": [
        ["2a2430c7.d3da4"]
    ]
}, {
    "id": "229780ac.9c642",
    "type": "ui_text",
    "z": "c5a10f82.8253d",
    "group": "841bade7.8c40a",
    "order": 4,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Ask Block Chain for Recommendation",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 230,
    "y": 500,
    "wires": []
}, {
    "id": "ead74207.c17eb",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "Weather",
    "links": ["8c16ce26.d0b45", "72f4d806.569918"],
    "x": 895,
    "y": 880,
    "wires": []
}, {
    "id": "f975b462.70afe8",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "Blockchain - teamname",
    "links": ["2ef9281a.ed1328", "6632d227.fcf35c", "9387590c.1be768"],
    "x": 895,
    "y": 260,
    "wires": []
}, {
    "id": "d9c81394.fc102",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "Blockchain change thermo",
    "links": ["2ef9281a.ed1328", "6632d227.fcf35c"],
    "x": 895,
    "y": 420,
    "wires": []
}, {
    "id": "716aaca4.3ccbc4",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "Blockchain Compare",
    "links": ["6632d227.fcf35c"],
    "x": 895,
    "y": 640,
    "wires": []
}, {
    "id": "4e9d759.918e68c",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "Blockchain recommendation",
    "links": ["26579818.2a28c8", "34c327fb.be62a8", "e97692a8.28038"],
    "x": 1295,
    "y": 580,
    "wires": []
}, {
    "id": "6632d227.fcf35c",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "Blockchain Main Dash",
    "links": ["d9c81394.fc102", "f975b462.70afe8", "716aaca4.3ccbc4"],
    "x": 75,
    "y": 200,
    "wires": [
        ["b07066e1.143e68"]
    ]
}, {
    "id": "a620838a.514e8",
    "type": "ui_text",
    "z": "2f05d8bf.55f3b8",
    "group": "841bade7.8c40a",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "block count",
    "label": "Blocks in Chain",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 750,
    "y": 200,
    "wires": []
}, {
    "id": "b07066e1.143e68",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Number of Blocks",
    "func": "\nif(global.get(\"blocks\") && global.get(\"blocks\")>0){\n    val = global.get(\"blocks\") + 1;\n}else{\n    val = 1;\n}\n\nglobal.set(\"blocks\",val);\nmsg.payload = val;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 200,
    "wires": [
        ["a620838a.514e8"]
    ]
}, {
    "id": "9387590c.1be768",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "status teamname",
    "links": ["f975b462.70afe8"],
    "x": 75,
    "y": 280,
    "wires": [
        ["8f895894.b98d08"]
    ]
}, {
    "id": "2ef9281a.ed1328",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "status change thermostat",
    "links": ["d9c81394.fc102", "f975b462.70afe8"],
    "x": 75,
    "y": 580,
    "wires": [
        ["e3ffd1aa.7aed2"]
    ]
}, {
    "id": "e97692a8.28038",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "status recommendation",
    "links": ["4e9d759.918e68c"],
    "x": 75,
    "y": 440,
    "wires": [
        ["e0b53a91.5fbeb8"]
    ]
}, {
    "id": "2cdb23d7.7d1a0c",
    "type": "ui_text",
    "z": "2f05d8bf.55f3b8",
    "group": "841bade7.8c40a",
    "order": 6,
    "width": "6",
    "height": "3",
    "name": "Blockchain status line",
    "label": "Status",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 780,
    "y": 360,
    "wires": []
}, {
    "id": "8f895894.b98d08",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Status",
    "func": "if (msg.payload.error && msg.payload.error.statusCode == 500){\n    msg.message = \"Team Exists\";\nreturn msg;\n    \n}\n\n\nif (msg.payload.teamName){\n    msg.message = msg.payload.teamName + \" added successfully\";\nreturn msg;\n    \n}\n\n\nif (msg.payload.transactionId){\n    msg.message = \"Transaction added: <br>\" + msg.payload.transactionId;\n    global.set('lastTransID', msg.payload.transactionId);\n    return msg;\n}\n\n\n//msg.payload = \"\";\nreturn msg.message;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 210,
    "y": 280,
    "wires": [
        ["2cdb23d7.7d1a0c"]
    ]
}, {
    "id": "9bfac271.b5d6b",
    "type": "ui_slider",
    "z": "2f05d8bf.55f3b8",
    "name": "Thermostat",
    "label": "Thermostat Value",
    "group": "5c9d67e3.e8af28",
    "order": 2,
    "width": "6",
    "height": "1",
    "passthru": true,
    "topic": "",
    "min": "15",
    "max": "40",
    "step": 1,
    "x": 730,
    "y": 520,
    "wires": [
        ["cc8495b2.2185f8", "4cb58afa.e3e024"]
    ]
}, {
    "id": "cc8495b2.2185f8",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Save Thermostat Global",
    "func": "global.set('TempThermostat',msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 500,
    "wires": [
        []
    ]
}, {
    "id": "4cb58afa.e3e024",
    "type": "ui_gauge",
    "z": "2f05d8bf.55f3b8",
    "name": "Thermostat Guage",
    "group": "5c9d67e3.e8af28",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Thermostat",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "15",
    "max": "40",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 950,
    "y": 540,
    "wires": []
}, {
    "id": "7d3a3a5f.5c3dc4",
    "type": "ui_text",
    "z": "2f05d8bf.55f3b8",
    "group": "5c9d67e3.e8af28",
    "order": 5,
    "width": "6",
    "height": "1",
    "name": "Thermo Value",
    "label": "Current Thermostat Setting",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 740,
    "y": 580,
    "wires": []
}, {
    "id": "4bea86f5.7e7288",
    "type": "ui_text",
    "z": "2f05d8bf.55f3b8",
    "group": "5c9d67e3.e8af28",
    "order": 1,
    "width": "6",
    "height": "2",
    "name": "Thermostat status line",
    "label": "Status",
    "format": "{{msg.message}}",
    "layout": "col-center",
    "x": 760,
    "y": 640,
    "wires": []
}, {
    "id": "e3ffd1aa.7aed2",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Status",
    "func": "\nif (msg.payload.error){\n    msg.message = \"Failed to change the Thermostat\";\n    msg.payload = global.get('Thermostat');\n    return msg;\n}\n\nif ((msg.payload.$class) && (msg.payload.$class === \"org.acme.sample.ChangeThermostatTemp\")){\n    if(msg.payload.transactionId){\n        msg.message = \"Changed Thermostat to \" + msg.payload.newThermostatValue;\n        global.set('Thermostat',msg.payload.newThermostatValue );\n        msg.payload = msg.payload.newThermostatValue;\n        return msg;\n    }\n    msg.message = \"Failed to change the Thermostat\";\n    msg.payload = global.get('Thermostat');\n    return msg;\n}\nmsg.payload = global.get('Thermostat');\nmsg.message = \"\";\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 580,
    "wires": [
        ["7d3a3a5f.5c3dc4", "4bea86f5.7e7288", "9bfac271.b5d6b"]
    ]
}, {
    "id": "e0b53a91.5fbeb8",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "status",
    "func": "\nif ((msg.payload.$class) && (msg.payload.$class === \"org.acme.sample.Sensor\") && (msg.payload.recommendation)){\n msg.thermo = msg.payload.thermostatTemp;\n msg.message = msg.payload.recommendation;\n \nreturn msg;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 210,
    "y": 440,
    "wires": [
        ["2cdb23d7.7d1a0c", "f20aebe2.8df798"]
    ]
}, {
    "id": "f20aebe2.8df798",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "update Thermostat",
    "func": "msg.payload = msg.thermo;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 480,
    "wires": [
        ["9bfac271.b5d6b", "7d3a3a5f.5c3dc4"]
    ]
}, {
    "id": "edaef9fe.3494d8",
    "type": "ui_gauge",
    "z": "2f05d8bf.55f3b8",
    "name": "",
    "group": "73fd5801.51fdf8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "25",
    "max": "45",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 750,
    "y": 40,
    "wires": []
}, {
    "id": "97601f11.f0a5a",
    "type": "ui_chart",
    "z": "2f05d8bf.55f3b8",
    "name": "",
    "group": "73fd5801.51fdf8",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting on temperature data",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "outputs": 2,
    "x": 730,
    "y": 80,
    "wires": [
        [],
        []
    ]
}, {
    "id": "7bca9002.8cccc",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "Temperature Gauges",
    "links": ["263e8e9b.df5672"],
    "x": 75,
    "y": 80,
    "wires": [
        ["e4f27410.cc2818"]
    ]
}, {
    "id": "e4f27410.cc2818",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "format: temperature",
    "func": "global.set('SenseHat', msg.payload.temperature);\nmsg.payload = msg.payload.temperature;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 80,
    "wires": [
        ["edaef9fe.3494d8", "97601f11.f0a5a", "960701f8.046f6"]
    ]
}, {
    "id": "8c16ce26.d0b45",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "Weather Dashboard",
    "links": ["ead74207.c17eb"],
    "x": 29.005553245544434,
    "y": 926.2277479171753,
    "wires": [
        ["20252692.632cba"]
    ]
}, {
    "id": "20252692.632cba",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Cache Weather",
    "func": "global.set('weather-observation',msg.payload);\nmsg.payload = {\n    feelslike: msg.payload.current_observation.feelslike_c,\n    outside: msg.payload.current_observation.temp_c\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 244.00555229187012,
    "y": 927.3388137817383,
    "wires": [
        ["e294417.97034c", "6a8c530a.b910dc"]
    ]
}, {
    "id": "e4cf7e92.14b0e",
    "type": "ui_gauge",
    "z": "2f05d8bf.55f3b8",
    "name": "Feels like",
    "group": "3aa7b35a.0eed1c",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Feels Like",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "0",
    "max": "40",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 637.7833461761475,
    "y": 896.5610256195068,
    "wires": []
}, {
    "id": "e1b4ae4a.db735",
    "type": "ui_gauge",
    "z": "2f05d8bf.55f3b8",
    "name": "Outside Temerature",
    "group": "3aa7b35a.0eed1c",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Outside",
    "label": "Celsius",
    "format": "{{value|number:1}}",
    "min": "0",
    "max": "40",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 659.7833461761475,
    "y": 950.5610256195068,
    "wires": []
}, {
    "id": "e294417.97034c",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Get Feels Like",
    "func": "msg.payload = msg.payload.feelslike;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 438.78334617614746,
    "y": 898.5610256195068,
    "wires": [
        ["e4cf7e92.14b0e"]
    ]
}, {
    "id": "6a8c530a.b910dc",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "Get Outside",
    "func": "msg.payload=msg.payload.outside;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 428.78334617614746,
    "y": 951.5610256195068,
    "wires": [
        ["e1b4ae4a.db735"]
    ]
}, {
    "id": "13022cc.28df0d3",
    "type": "rpi-sensehatsim in",
    "z": "5eb782fc.54622c",
    "name": "Sensor Gauge Simulator",
    "motion": false,
    "env": true,
    "stick": false,
    "x": 170,
    "y": 100,
    "wires": [
        ["263e8e9b.df5672"]
    ]
}, {
    "id": "263e8e9b.df5672",
    "type": "link out",
    "z": "5eb782fc.54622c",
    "name": "IoT Environment Source",
    "links": ["7bca9002.8cccc"],
    "x": 375,
    "y": 100,
    "wires": []
}, {
    "id": "73c454aa.22128c",
    "type": "ui_text_input",
    "z": "c5a10f82.8253d",
    "name": "",
    "label": "City",
    "group": "3aa7b35a.0eed1c",
    "order": 3,
    "width": "6",
    "height": "1",
    "passthru": true,
    "mode": "text",
    "delay": "500",
    "topic": "",
    "x": 690,
    "y": 720,
    "wires": [
        ["ec4cef73.7ff25"]
    ]
}, {
    "id": "ec4cef73.7ff25",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "setCity",
    "func": "n = msg.payload;\nglobal.set('city',n);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 930,
    "y": 720,
    "wires": [
        []
    ]
}, {
    "id": "a3e1d479.2e5ed8",
    "type": "inject",
    "z": "c5a10f82.8253d",
    "name": "check City, State",
    "topic": "A City, State is note entered. Please add a City, State and then press the Get Current Temps button.",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 170,
    "y": 760,
    "wires": [
        ["3551e4f6.c49e1c", "fa3f0268.acb02"]
    ]
}, {
    "id": "3551e4f6.c49e1c",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "Find City",
    "func": "n = global.get('city');\nif (n){\n    msg.payload = n;\n}else{\n    msg.payload=\"Please enter a city.\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 720,
    "wires": [
        ["73c454aa.22128c"]
    ]
}, {
    "id": "1333e90b.f3f1b7",
    "type": "ui_text_input",
    "z": "c5a10f82.8253d",
    "name": "",
    "label": "State",
    "group": "3aa7b35a.0eed1c",
    "order": 4,
    "width": "6",
    "height": "1",
    "passthru": true,
    "mode": "text",
    "delay": "500",
    "topic": "",
    "x": 690,
    "y": 800,
    "wires": [
        ["dd5ffbf6.9e6a78"]
    ]
}, {
    "id": "dd5ffbf6.9e6a78",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "setState",
    "func": "n = msg.payload;\nglobal.set('state',n);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 940,
    "y": 800,
    "wires": [
        []
    ]
}, {
    "id": "fa3f0268.acb02",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "Find State",
    "func": "n = global.get('state');\nif (n){\n    msg.payload = n;\n}else{\n    msg.payload=\"Please enter the state your city is in.\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 800,
    "wires": [
        ["1333e90b.f3f1b7"]
    ]
}, {
    "id": "59fc1cfd.dff1b4",
    "type": "ui_button",
    "z": "c5a10f82.8253d",
    "name": "",
    "group": "3aa7b35a.0eed1c",
    "order": 5,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "Get Current Temps",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 880,
    "wires": [
        ["29111516.7ba3ca"]
    ]
}, {
    "id": "29111516.7ba3ca",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "City,State",
    "func": "city = global.get('city');\nmsg = {};\nmsg.city=city;\nmsg.state = global.get('state');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 880,
    "wires": [
        ["2ed3dabd.4f0276"]
    ]
}, {
    "id": "2ed3dabd.4f0276",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://api.wunderground.com/api/9648f5eaf4b568c9/conditions/q/{{{state}}}/{{{city}}}.json",
    "tls": "",
    "x": 710,
    "y": 880,
    "wires": [
        ["ead74207.c17eb"]
    ]
}, {
    "id": "4319d68a.731bb8",
    "type": "debug",
    "z": "c5a10f82.8253d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1350,
    "y": 520,
    "wires": []
}, {
    "id": "960701f8.046f6",
    "type": "link out",
    "z": "2f05d8bf.55f3b8",
    "name": "SenseHat",
    "links": ["9d79bb8d.383e6"],
    "x": 695,
    "y": 120,
    "wires": []
}, {
    "id": "40e8092c.ac81e8",
    "type": "ui_button",
    "z": "c5a10f82.8253d",
    "name": "",
    "group": "73fd5801.51fdf8",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Get Sense Hat Temperature",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 200,
    "y": 340,
    "wires": [
        ["27d83aa.23429c6"]
    ]
}, {
    "id": "27d83aa.23429c6",
    "type": "function",
    "z": "c5a10f82.8253d",
    "name": "getSenseHatValue",
    "func": "team = global.get('teamName');\nsenseHat = global.get('SenseHat');\nmsg.payload = {\n  \"$class\": \"org.acme.sample.SetSensorTemp\",\n  \"gauge\": team,\n  \"newSensorValue\": senseHat\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 340,
    "wires": [
        ["fae0fd70.efcc7"]
    ]
}, {
    "id": "fae0fd70.efcc7",
    "type": "http request",
    "z": "c5a10f82.8253d",
    "name": "setSensorTemp",
    "method": "POST",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://localhost:3000/api/org.acme.sample.SetSensorTemp",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 720,
    "y": 340,
    "wires": [
        ["10f081d1.ca166e"]
    ]
}, {
    "id": "10f081d1.ca166e",
    "type": "link out",
    "z": "c5a10f82.8253d",
    "name": "SetSensorTempStatus",
    "links": ["40906755.c04d88"],
    "x": 895,
    "y": 340,
    "wires": []
}, {
    "id": "40906755.c04d88",
    "type": "link in",
    "z": "2f05d8bf.55f3b8",
    "name": "SetSensorStatus",
    "links": ["10f081d1.ca166e"],
    "x": 75,
    "y": 360,
    "wires": [
        ["4fcc6aa.3313494"]
    ]
}, {
    "id": "4fcc6aa.3313494",
    "type": "function",
    "z": "2f05d8bf.55f3b8",
    "name": "SetSensorStatus",
    "func": "\nif (msg.payload.error){\n    msg.message = \"An invalid team was specified.\";\nreturn msg;\n}\nelse {\n    msg.message = \"Sense Hat temperature updated to \" + msg.payload.newSensorValue;\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 360,
    "wires": [
        ["2cdb23d7.7d1a0c"]
    ]
}]